<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ThinkTank" connectionString="server=192.168.100.5;database=ThinkTank;Uid=qin;Pwd=123"/>
    <add name="Dev" connectionString="server=172.20.2.239;database=Dev;Uid=j_cnfol_all;Pwd=w4747147"/>
    <add name="Apps" connectionString="server=192.168.100.5;database=Apps;Uid=qin;Pwd=123"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <globalization fileEncoding="utf-8"/>
    <pages enableViewState="false" enableViewStateMac="false" enableSessionState="false" masterPageFile="/Pages/Demos.master" theme="Black" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
            设置 compilation debug="true" 可将调试符号
            插入已编译的页面中。
            但由于这会影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0"/>
    <!--
          通过 <authentication> 节可以配置
          安全身份验证模式，ASP.NET 
          使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
           如果在执行请求的过程中出现未处理的错误，
           则通过 <customErrors> 节
           可以配置相应的处理步骤。具体而言，
           开发人员通过该节可配置要显示的 html 错误页，
           以代替错误堆栈跟踪。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
  </system.web>
  <location path="visual">
    <system.web>
      <pages enableViewState="false" enableViewStateMac="false" enableSessionState="false" masterPageFile="/visual/visual.master" theme="admin"/>
    </system.web>
  </location>
</configuration>